body {
  background-color: rgb(221, 217, 217);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.753);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 5px;
}

.form input {
  outline: 1;
  background: whitesmoke;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background-color: rgb(3, 151, 3);
  width: 100%;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.form button:hover,
.form button:active {
  background: #43a047;
}

.form .message {
  margin: 15px 0 0;
  color: aliceblue;
  font-size: 12px;
}

.form .message a {
  color: blue;
  text-decoration: none;
  margin-left: 6px;
  font-size: 13px;
}

.form .register-form {
  display: none;
}
